<!doctype html>
<html lang="en" ng-app="music">
	<head>
		<title>Awesome Musicians Database!</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
        <link href='http://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
	</head>
    <body>
        <div class="header"><img src="header.jpeg"></div>
        <div class="content">
            <div class="topBoxes">
                <div class="artistBox form-toggle-button hvr-grow" id="band"><h1>Band</h1></div>
                <div class="bandBox form-toggle-button hvr-grow" id="artist"><h1>Artist</h1></div>
                <div class="albumBox form-toggle-button hvr-grow" id="album"><h1>Album</h1></div>
                <div class="songBox form-toggle-button hvr-grow" id="song"><h1>Song</h1></div>
            </div>

            <div ng-controller="BandController" class="band toggle-controller">
                <h2>Bands</h2>
                <p>Enter the information for a band and press Add to add them to the band database.</p>
                
                <input type="text" ng-model="name" placeholder="Band Name">
                <input type="text" ng-model="genre" placeholder="Genre">
                <button class="button-add" ng-click="addBand()" ng-disabled="!(name.length)">+</button>
                <br><br>
                
                
                <button class="button-all" ng-click="toggleBands()">{{toggleText}}</button>
                <div class="results" ng-show="viewHideBands">
                    <table>
                        <tr>
                            <th>Band Name</th>
                            <th>Genre</th>
                        </tr>
                        <tr ng-repeat="b in bands">
                            <td>{{b.name}}</td>
                            <td>{{b.genre}}</td>
                           <td class="right"><button class="button-remove" ng-click="remove(b)">-</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-controller="ArtistController" class="artist toggle-controller">
                <h2>Artist</h2>
                <p>Enter the information for an artist and press Add to add them to the artist database.</p>
                
                <input type="text" ng-model="firstName" placeholder="First Name">
                <input type="text" ng-model="lastName" placeholder="Last Name">
                <input type="text" ng-model="instrument" placeholder="Instrument">
                <select ng-model="bandId">
                    <option value="-1">Select Band</option>
                    <option ng-repeat="b in bands" value="{{b.id}}">{{b.name}}</option>
                </select>
                <button class="button-add" ng-click="addArtist()" ng-disabled="!(firstName.length && lastName.length)">+</button>
                <br><br>
                
                <button class="button-all" ng-click="toggleArtists()">{{toggleText}}</button>
                <div class="results" ng-show="viewHideArtists">
                    <table>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Instrument</th>
                            <th>Genre</th>
                        </tr>
                        <tr ng-repeat="m in artists">
                            <td>{{m.firstName}}</td>
                            <td>{{m.lastName}}</td>
                            <td>{{m.instrument}}</td>
                            <td>{{m.bandName}}</td>
                           <td class="right"><button class="button-remove" ng-click="remove(m)">-</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div ng-controller="AlbumController" class="album toggle-controller">
                <h2>Album</h2>
                <input type="text" ng-model="name" placeholder="Album">
                <select ng-model="bandId">
                    <option value="-1">Select Band</option>
                    <option ng-repeat="b in bands" value="{{b.id}}">{{b.name}}</option>
                </select>
                <input type="text" ng-model="releaseDate">
                
                <!--<input type="text" ng-model="bandId" placeholder="band ID">-->
                
                <button class="button-add" ng-click="addAlbum()" ng-disabled="!(name.length)">+</button>
                <br><br>
                <button class="button-all" ng-click="toggleAlbum()">{{toggleText}}</button>
                <div class="results" ng-show="viewHideAlbum">
                    <table>
                        <tr>
                            <th>Album</th>
                            <th>Release Date</th>
                        </tr>
                        <tr ng-repeat="i in albums">
                            <td>{{i.name}}</td>
                            <td>{{i.bandName}}</td>
                            <td>{{i.releaseDate}}</td>
                           <td class="right"><button class="button-remove" ng-click="remove(i)">-</button></td>
                        </tr>
                    </table>
                </div>
            <!--
                <form id       =  "uploadForm"
                     enctype   =  "multipart/form-data"
                     action    =  "/api/photo"
                     method    =  "post"
                >
                <input type="file" name="userPhoto" onchange="readURL(this);"/>
                <input type="submit" value="Upload" name="submit" onchange="$('#uploadForm').reset();"/>        
                <img id="stuff" src="#" />
                </form>
                <div class="pic"></div>
            -->
                
            </div>
            
            <div ng-controller="SongController" class="song toggle-controller">
                <h2>Song</h2>
                <input type="text" ng-model="name" placeholder="Name of song">
                <select ng-model="albumId">
                    <option value="-1">Select Album</option>
                    <option ng-repeat="a in albums" value="{{a.id}}">{{a.name}}</option>
                </select>
                <button class="button-add" ng-click="addSong()" ng-disabled="!albumId.length">+</button>
                
                <br><br>
                
                <button class="button-all" ng-click="toggleSongs()">{{toggleText}}</button>
                <div class="results" ng-show="viewHideSongs">
                    <table>
                        <tr><th>Song Title</th></tr>
                        <tr ng-repeat="s in songs">                            
                            <td>{{s.name}}</td>
                            <td>{{s.albumName}}</td>
                           <td class="right"><button class="button-remove" ng-click="remove(s)">-</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src='client.js'></script>
    </body>     
    <script>
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#stuff')
                    .attr('src', e.target.result)
                    .width(100)
                    .height(100);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
        
    </script>
</html>