<!doctype html>
<html lang="en" ng-app="music">
	<head>
		<title>Musicians!</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
        <link href='http://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
	</head>
    <body>
        <div class="header"><img src="header.jpeg"></div>
        <div class="content">
            <div class="topBoxes">
<!--            need to make this more pretty or whatevs-->
                <div class="artistBox form-toggle-button hvr-grow" id="band"><h1>Band</h1></div>
                <div class="bandBox form-toggle-button hvr-grow" id="artist"><h1>Artist</h1></div>
                <div class="albumBox form-toggle-button hvr-grow" id="album"><h1>Album</h1></div>
                <div class="songBox form-toggle-button hvr-grow" id="song"><h1>Song</h1></div>
            </div>
    <!--
            <div class="form-button-area">
                <div class="form-toggle-button">
                    Bands
                </div>
                <div class="form-toggle-button" id="artist">
                    Artists
                </div>
                <div class="form-toggle-button" id="album">
                    Albums
                </div>
            </div>
        -->
            <div ng-controller="BandController" class="band toggle-controller">
                <h2>Bands</h2>
                <p>Enter the information for a band and press Add to add them to the band databas.</p>
                
                <input type="text" ng-model="name" placeholder="Band Name">
                <input type="text" ng-model="genre" placeholder="Genre">
                <button class="button-add" ng-click="addBand()" ng-disabled="!(name.length)">+</button>
                <br><br>
                {{name}} {{genre}}
                
                <button class="button-all" ng-click="toggleBands()">{{toggleText}}</button>
                <div class="results" ng-show="viewHideBands">
                    <table>
                        <tr>
                            <th>Band Name</th>
                            <th>Genre</th>
                        </tr>
                        <tr ng-repeat="b in bands">
                            <td>{{b.name}}</td>
                            <td>{{b.genre}}</td>
                           <td class="right"><button class="button-remove" ng-click="remove(b)">-</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-controller="ArtistController" class="artist toggle-controller">
                <h2>Artist</h2>
                <p>Enter the information for an artist and press Add to add them to the artist database.</p>
                
                <input type="text" ng-model="firstName" placeholder="First Name">
                <input type="text" ng-model="lastName" placeholder="Last Name">
                <input type="text" ng-model="instrument" placeholder="Instrument">
                <input type="text" ng-model="genre" placeholder="Genre">
                <button class="button-add" ng-click="addArtist()" ng-disabled="!(firstName.length && lastName.length)">+</button>
                <br><br>
                
                <button class="button-all" ng-click="toggleArtists()">{{toggleText}}</button>
                <div class="results" ng-show="viewHideArtists">
                    <table>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Instrument</th>
                            <th>Genre</th>
                        </tr>
                        <tr ng-repeat="m in artists">
                            <td>{{m.firstName}}</td>
                            <td>{{m.lastName}}</td>
                            <td>{{m.instrument}}</td>
                            <td>{{m.genre}}</td>
                           <td class="right"><button class="button-remove" ng-click="remove(m)">-</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div ng-controller="AlbumController" class="album toggle-controller">
                <h2>Album</h2>
                <input type="text" ng-model="album" placeholder="Album">
                <button class="button-add" ng-click="addAlbum()" ng-disabled="!album.length">+</button>
                <p>Release Date</p>
                <input type="month" ng-model="release_date">
                <form id       =  "uploadForm"
                     enctype   =  "multipart/form-data"
                     action    =  "/api/photo"
                     method    =  "post"
                >
                <input type="file" name="userPhoto" />
                <input type="submit" value="Upload Image" name="submit">
                <div class="pic"></div>
                </form>

                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
                <script>
                    $(document).ready(function() {
                         $('#uploadForm').submit(function() {
                            $(this).ajaxSubmit({
                                success: function(response) {
                                    $(response).appendTo('.pic');
                                    console.log(response);
                                }
                            });
                        return false;
                        });    
                    });
                  </script>
            </div>
            
<!--
            <div ng-controller="SongController" class="song">
                <h2>Song</h2>
                <input type="text" ng-model="song_name" placeholder="Name of song">
                <input type="text" ng-model="album" placeholder="Album">
                <button class="button-add" ng-click="addSong()" ng-disabled="!album.length">+</button>
                
                <br><br>
                
                <button class="button-all" ng-click="viewHideSongs = ! viewHideSongs">View all songs</button>
                <div class="results" ng-show="viewHideSongs">
                    <table>
                        <tr><th>Song Title</th></tr>
                        <tr ng-repeat="s in songs">                            
                            <td>{{s.name}}</td>
                            <td>{{s.albumId}}</td>
                           <td class="right"><button class="button-remove" ng-click="remove(s)">-</button></td>
                        </tr>
                    </table>
                </div>
            </div>
-->
        </div>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src='client.js'></script>
    </body>
</html>