* {
    margin: 0;
    padding: 0;
}

html {
/*    font-family: 'Gudea', sans-serif;*/
    font-family: 'Alice', serif;
    font-size: 14px;
    background-color: #62ddd8;
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #fffff7;
    top: 337px;
    height: auto;
}

.content {
    width: 90%;
    max-width: 1000px;
    min-height: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 230px;
}

.band, .artist, .album, .song, .event {
    height: auto;
    padding: 5px;
    width: 635px;
    margin-right: auto;
    margin-left: auto;
}

.topBoxes {
    width: 690px;
    height: 110px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/*https://github.com/IanLunn/Hover/blob/master/README.md*/
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.form-toggle-button {
    width: 110px;
    height: 60px;
    padding: 12px;
    margin: 10px;
    float: left;
    cursor: pointer;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
}
.artistBox {
    background-image: -webkit-linear-gradient(top, #ffa63e, #ff8d1b);
    background-image: -moz-linear-gradient(top, #ffa63e, #ff8d1b);
    background-image: -ms-linear-gradient(top, #ffa63e, #ff8d1b);
    background-image: -o-linear-gradient(top, #ffa63e, #ff8d1b);
    background-image: linear-gradient(to bottom, #ffa63e, #ff8d1b);
    margin-left: 17px;
    margin-right: 17px;
}
.artistBox:hover {
    background: #ffb55e;
}

.bandBox {
    background-image: -webkit-linear-gradient(top, #f052cc, #e824bb);
    background-image: -moz-linear-gradient(top, #f052cc, #e824bb);
    background-image: -ms-linear-gradient(top, #f052cc, #e824bb);
    background-image: -o-linear-gradient(top, #f052cc, #e824bb);
    background-image: linear-gradient(to bottom, #f052cc, #e824bb);
    margin-left: 17px;
    margin-right: 17px;
}
.bandBox:hover {
    background: #ff6fde;
}
.albumBox {
    background-image: -webkit-linear-gradient(top, #42aad8, #3b90ce);
    background-image: -moz-linear-gradient(top, #42aad8, #3b90ce);
    background-image: -ms-linear-gradient(top, #42aad8, #3b90ce);
    background-image: -o-linear-gradient(top, #42aad8, #3b90ce);
    background-image: linear-gradient(to bottom, #42aad8, #3b90ce);
    margin-left: 17px;
    margin-right: 17px;
}
.albumBox:hover {
    background: #5cc2ef;
}

.songBox {
    background-image: -webkit-linear-gradient(top, #ffe557, #ffd800);
    background-image: -moz-linear-gradient(top, #ffe557, #ffd800);
    background-image: -ms-linear-gradient(top, #ffe557, #ffd800);
    background-image: -o-linear-gradient(top, #ffe557, #ffd800);
    background-image: linear-gradient(to bottom, #ffe557, #ffd800);
    margin-left: 17px;
    margin-right: 17px;
}
.songBox:hover{
    background: #ffe65d;   
}

.topBoxes h1 {
    text-align: center;
    color: white;
}

.topBoxes p {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

table {
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #676767;
}

.results th {
    font-size: 25px;
    font-weight: bold;  
}

.results tr, td {
    text-align: center;
    border: 2px solid white;
}
.results .right{
    text-align: right;
}

.button-all {
    float: right;
    background-image: -webkit-linear-gradient(top, #bf33e0, #9028a8);
    background-image: -moz-linear-gradient(top, #bf33e0, #9028a8);
    background-image: -ms-linear-gradient(top, #bf33e0, #9028a8);
    background-image: -o-linear-gradient(top, #bf33e0, #9028a8);
    background-image: linear-gradient(to bottom, #bf33e0, #9028a8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: #ffffff;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.button-add {
    float: right;
    background-image: -webkit-linear-gradient(top, #21b14d, #189021);
    background-image: -moz-linear-gradient(top, #21b14d, #189021);
    background-image: -ms-linear-gradient(top, #21b14d, #189021);
    background-image: -o-linear-gradient(top, #21b14d, #189021);
    background-image: linear-gradient(to bottom, #21b14d, #189021);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: #ffffff;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    cursor: pointer;
}

.button-remove {
    float: right;
    background-image: -webkit-linear-gradient(top, #f74b2c, #d83838);
    background-image: -moz-linear-gradient(top, #f74b2c, #d83838);
    background-image: -ms-linear-gradient(top, #f74b2c, #d83838);
    background-image: -o-linear-gradient(top, #f74b2c, #d83838);
    background-image: linear-gradient(to bottom, #f74b2c, #d83838);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: #ffffff;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.button-all:hover {
    background: #da68f5;
    text-decoration: none;
    cursor: pointer;
}
.button-add:hover {
    background: #4ddb79;
    text-decoration: none;
    cursor: pointer;
}

.button-remove:hover {
    background: #ff7474;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
    height: 15px;
    padding: 5px;
    font-size: 11px;
}

h1 {
    /*font-family: 'Berkshire Swash', cursive; this is the one*/
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    color: #676767;
}
h2 {
    /*font-family: 'Berkshire Swash', cursive; this is the one*/
/*    font-family: 'Sacramento', cursive;*/
    font-family: 'Alice', serif;
    font-size: 45px;
    color: #676767;
}

p {
/*    font-family: 'Gudea', sans-serif;*/
    font-family: 'Alice', serif;
    font-size: 14px;
    color: #676767;
}

/*
.form-toggle-button {
    display: inline-block;
    text-align: center;
    height: 20px;
    padding: 5px 15px;
    background-color: #62ddd8;
    cursor: pointer;
}
*/

.form-button-area {
    margin: 25px auto;
}

.selected-tab {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(52, 52, 52, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(52, 52, 52, 0.75);
    box-shadow: 0px 0px 10px 2px rgba(52, 52, 52, 0.75);
}