* {
    margin: 0;
    padding: 0;
}

html {
    font-family: arial;
    background-color: #88c1c1;
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #fffff7;
    top: 337px;
    height: auto;
}

.content {
    width: 600px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 300px;
}

.artist {
    height: 100%;    
}

.album {
    
}

.song {
    
}

.event {
   
}

.results {
    
}

.button-all {
    float: right;
    background-image: -webkit-linear-gradient(top, #bf33e0, #9028a8);
    background-image: -moz-linear-gradient(top, #bf33e0, #9028a8);
    background-image: -ms-linear-gradient(top, #bf33e0, #9028a8);
    background-image: -o-linear-gradient(top, #bf33e0, #9028a8);
    background-image: linear-gradient(to bottom, #bf33e0, #9028a8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: #ffffff;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.button-add {
    float: right;
    background-image: -webkit-linear-gradient(top, #21b14d, #189021);
    background-image: -moz-linear-gradient(top, #21b14d, #189021);
    background-image: -ms-linear-gradient(top, #21b14d, #189021);
    background-image: -o-linear-gradient(top, #21b14d, #189021);
    background-image: linear-gradient(to bottom, #21b14d, #189021);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: #ffffff;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.button-remove {
    float: right;
    background-image: -webkit-linear-gradient(top, #f7922c, #d88838);
    background-image: -moz-linear-gradient(top, #f7922c, #d88838);
    background-image: -ms-linear-gradient(top, #f7922c, #d88838);
    background-image: -o-linear-gradient(top, #f7922c, #d88838);
    background-image: linear-gradient(to bottom, #f7922c, #d88838);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: #ffffff;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.button-all:hover {
    background: #da68f5;
    text-decoration: none;
}
.button-add:hover {
    background: #4ddb79;
    text-decoration: none;
}

.button-remove:hover {
    background: #faa753;
    text-decoration: none;
}

input[type="text"] {
    height: 15px;
    padding: 5px;
}