* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Alice', serif;
    font-size: 14px;
    background-color: #62ddd8;
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #fffff7;
    top: 337px;
    height: auto;
}

.content {
    width: 90%;
    max-width: 1000px;
    min-height: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 300px;
}

.artist {
    height: auto;
    padding: 5px;
}

.album {
    height: auto;
    padding: 5px;
}

.song {
    height: auto%;
    padding: 5px;
}

.event {
    height: 100%;
    width: 600px;
    padding: 5px;
}

table {
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.results th {
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    font-weight: bold;  
}

.results tr, td {
    text-align: center;
    border: 2px solid white;
}
.results .right{
    text-align: right;
}

.button-all {
    float: right;
    background-image: -webkit-linear-gradient(top, #bf33e0, #9028a8);
    background-image: -moz-linear-gradient(top, #bf33e0, #9028a8);
    background-image: -ms-linear-gradient(top, #bf33e0, #9028a8);
    background-image: -o-linear-gradient(top, #bf33e0, #9028a8);
    background-image: linear-gradient(to bottom, #bf33e0, #9028a8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: #ffffff;
    color: #ffffff;
    font-family: 'Alice', serif;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.button-add {
    float: right;
    background-image: -webkit-linear-gradient(top, #21b14d, #189021);
    background-image: -moz-linear-gradient(top, #21b14d, #189021);
    background-image: -ms-linear-gradient(top, #21b14d, #189021);
    background-image: -o-linear-gradient(top, #21b14d, #189021);
    background-image: linear-gradient(to bottom, #21b14d, #189021);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: #ffffff;
    color: #ffffff;
    font-family: 'Alice', serif;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.button-remove {
    float: right;
    background-image: -webkit-linear-gradient(top, #f7922c, #d88838);
    background-image: -moz-linear-gradient(top, #f7922c, #d88838);
    background-image: -ms-linear-gradient(top, #f7922c, #d88838);
    background-image: -o-linear-gradient(top, #f7922c, #d88838);
    background-image: linear-gradient(to bottom, #f7922c, #d88838);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: #ffffff;
    color: #ffffff;
    font-family: 'Alice', serif;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.button-all:hover {
    background: #da68f5;
    text-decoration: none;
}
.button-add:hover {
    background: #4ddb79;
    text-decoration: none;
}

.button-remove:hover {
    background: #faa753;
    text-decoration: none;
}

input[type="text"] {
    height: 15px;
    padding: 5px;
    font-family: 'Alice', serif;
    font-size: 12px;
}

h1, h2 {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    font-weight: bold;
}

p {
    font-family: 'Alice', serif;
    font-size: 14px;
}

.form-toggle-button {
    display: inline-block;
    text-align: center;
    height: 20px;
    padding: 5px 15px;
    background-color: #62ddd8;
    cursor: pointer;
}

.form-button-area {
    margin: 25px auto;
}

.selected-tab {
    font-weight: bold;
}



